body {
    width: 100vw;
    height: 100vh;
    background-image: url(./img/orbits_redux_blank_crop.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    overflow-y: hidden;
}

#container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 1px;
}

#background {
    position: absolute;
    height: 100%;
    width: min(100%, 800px);
    transform: translateZ(-1px) scale(2.1);
}

#background-img {
    width: 100%;
}


#header {
    display: flex;
    position: absolute;
    transform: translateZ(.6px) scale(.5);
    color: rgb(166, 166, 166);
    text-align: center;
}

#logo-img {
    width: min(73vw, 800px);
    opacity: 95%;
}

#article {
    position: absolute;
    top: 83%;
    color: rgb(166, 166, 166);
    width: min(60vw, 600px);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateZ(.3px);
}

@media screen and (max-width: 580px) {
    #header {
       margin-bottom: 10vh;
    }
}