body {
    background-image: url(./img/orbits_blank.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

#container {
    display: flex;
    justify-content: center;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 10px;
}

#background {
    z-index: 0;
    position: absolute;
    transform: translateZ(-1px);
}

#main {
    z-index: 1;
    position: absolute;
    top: 50%;
    transform: translateZ(1px);
    color: white;
}