body {
    background-image: url(./img/orbits_blank.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

#container {
    display: flex;
    justify-content: center;

    margin: auto;

    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 1px;
}

#background {
    position: absolute;
    top: 0;
    transform: translateZ(-.5px);
}

#main {
    position: absolute;
    top: 50%;
    transform: translateZ(.5px);
    color: white;
    text-align: center;
}

#headline {
    font-size: 3rem;
}

